.itemListContainer{
    
    height: fit-content;
    margin-top: 0%;
    background-color:orange;
    width:240px;
    padding: 24px;
    border-radius: 16px;

}

.greeting{
    
    text-align: center;
    color:black;
    font-size: 16px;
}

.contador{
  text-align: center;
}


