.navBar{
    background-color:orange ;
    border-bottom: black solid;
    color: black;
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 100%;
    margin-bottom: 0%;
    
}

.menu{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.opcionMenu{
    margin-left: 20px;
    margin-right: 20px;
}