.Items{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    font-size: 10px;
    background-color: orangered;
    
}
.Img{
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 200px;
}

.titulo{
    text-align: center;
    color: white;
}